body {
    background-color: rgb(255,255,255);
    color: #2B3A67;
}

#mainNav.navbar-shrink {
    border-bottom: none;
    background-color: white;
}

.masthead {
    background-size: cover;
    background-position: center;
}

.social-icons i {
    font-size: 1.5rem;
    color: #b76e79;
}

#mainNav {
    background-color: rgba(255, 255, 255, 0);
}

.about {
    margin-left: 100px; 
    margin-right: 100px;  
    vertical-align: middle; 
    height: 100%;
}

.about a, .about a:hover {
    color: #b76e79;
    text-decoration: underline;
}

.image-wrapper img {
    max-width: 300px;
    width: 100%;
    text-align: center; 
    vertical-align: middle; 
    height: 100%;
}

@media (min-width: 992px) {
    .image-wrapper {
        /*margin: 15px;*/
        max-width: 400px;
        width: 100%;
        display: inline-block;
        vertical-align: middle;
        height: 100%
    }
}

.about {
    text-align: center;
}

@media (min-width: 992px) {
    .about {
        display: flex;
    }
}

.experience-wrapper {
    display: inline-block;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display:flex;
  justify-content: center;
  align-items: center;
}

#freelance p {
    color: #ac5864;
}

#contact p {
    color: #2B3A67;
}

h1 {
    color: #5F81A6;
}

.btn1:hover, .btn1:focus {
    background-color: white;
    color: #b76e79;
}

.btn1 {
    background-color: #b76e79;
    color: white;
}

.contact-btn.focus, .contact-btn:focus, .contact-btn:hover {
    color: white;
    background-color: #b76e79;
    border-color: #b76e79;
}

.contact-btn {
    color: #b76e79;
    border: 1px solid #b76e79;
    background-color: transparent;
    font-family: Cabin,Helvetica Neue,Helvetica,Arial,sans-serif; 
}

.contact-btn:active {
    border: 3px solid white;
}

.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0 rgb(255,255,255);
}

#mainNav .nav-link.active, .nav-link:hover{
    background-color: rgba(169,222,249,0.5); 
}

#mainNav .nav-link {
    color: #5F81A6;
}

section {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
}

img-fluid{
    max-width: 100%;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

#myBtnContainer {
    margin-bottom: 20px;
    
}

#myBtnContainer .btn:hover, #myBtnContainer .btn.active {
    background-color: white;
    }

#myBtnContainer .btn {
    border: 1px solid #2B3A67;
    margin-left: 5px;
    margin-right: 5px;
}

.projectCard p {
    font-size: 0.8rem;
}

.projectCard .btn {
    color: #b76e79;
    border: 1px solid #b76e79;
}

.projectCard a.btn:hover {
    background-color: #b76e79;
    color: white;
}

.masonry { /* Masonry container */
    column-count: 3;
    column-gap: 1em;
    margin-left: 100px;
    margin-right: 100px;
}

.grid-item { /* Masonry bricks or child elements */
  background-color: #eee;
  display: inline-block;
  margin-bottom: 1em;
  width: 100%;
}


@media (max-width: 768px) {
   .masonry { /* Masonry container */
  column-count: 1;
  column-gap: 1em;
    } 
}

a {
    color: #b76e79;
}

.btn-secondary {
    background-color: white;
    color: #b76e79;
    border: none;
}

.btn-secondary:hover {
    color: white;
    background-color: #b76e79;
    border: none;
}
